@import url('https://fonts.googleapis.com/css?family=Quicksand');

.about {
	display: block;
	justify-content: center;
	align-items: center;
	background-color: #fcfcf4;
	margin-top: 10vh;
	margin-bottom: 10vh;

}

.about-text {
	font-size: 3vh;
	font-family: 'Quicksand', sans-serif;
	line-height: 1.7;
}

.social-icon {
	display: flex;
	justify-content: center;
	margin: 3vh;
	color: black;
}

.resume-icon {
	margin: 2vh;
}