@import url(https://fonts.googleapis.com/css?family=Lusitana);

.about {
	display: block;
	justify-content: center;
	align-items: center;
	background-color: #fcfcf4;
	margin-top: 10vh;
	margin-bottom: 10vh;

}

.about-text {
	font-size: 3vh;
	font-family: 'Lusitana', serif;
}