@import url('https://fonts.googleapis.com/css?family=Quicksand');

.contact {
	background-color: #fcfcf4;
	font-family: 'Quicksand', sans-serif;
	font-size: 3vh;
	display: block;
	justify-content: center;
	align-items: center;
	margin-top: 20vh;
	padding-bottom: 10vh;
}

.submit-button {
	font-family: 'Quicksand', sans-serif !important;
}

input {
	width: 100%;
}

textarea {
	width: 100%;
	height: 15vh;
}