@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");

.copyright_page {
	background-color: #fcfcf4;
	padding: 2vh;
	font-family: "Josefin Sans", sans-serif;
	color: black;
	text-align: center;
}
