@import url('https://fonts.googleapis.com/css?family=Quicksand');

.intro {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: 'Quicksand', sans-serif;
	font-size: 3vw;
	color: white;
	background-image: url('../backgrounds/background.png');
	background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
}

.intro-text {
	display: flex;
	justify-content: center;
	text-align: center;
	margin-top: 5vh;
}

.intro-picture {
  	height: 25vh;
  	margin-top: 5vh;
}

.down {
	display: flex;
	justify-content: center;
	margin-top: 10vh;
	animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
  color: white;
}

.arrow-2 {
	animation-name: bounce-2;
    animation-timing-function: ease;
}

@keyframes bounce-2 {
        0%   { transform: translateY(0); }
        50%  { transform: translateY(-15px); }
        100% { transform: translateY(0); }
    }

