@import url('https://fonts.googleapis.com/css?family=Francois+One');
@import url(https://fonts.googleapis.com/css?family=Lusitana);
@import url('https://fonts.googleapis.com/css?family=Maven+Pro');

.intro {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: 'Lusitana', serif;
	font-size: 3vw;
	background-color: #fcfcf4;
}

.intro-text {
	display: flex;
	justify-content: center;
	text-align: center;
	margin-top: 5vh;
}

.intro-picture {
  	height: 25vh;
  	margin-top: 5vh;
}

.down {
	display: flex;
	justify-content: center;
	margin-top: 10vh;
	animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
    color: black;
}

.arrow-2 {
	animation-name: bounce-2;
    animation-timing-function: ease;
}

@keyframes bounce-2 {
        0%   { transform: translateY(0); }
        50%  { transform: translateY(-15px); }
        100% { transform: translateY(0); }
    }

