.sidenav {
	height: 100%;
	width: 250px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	overflow-x: hidden;
	padding: 40px;
}

.icon_description {
	visibility: hidden;
	transition: opacity .2s, visibility .1s;
	color: #4974c6;
}

.icon:hover .icon_description {
	visibility: visible;
	opacity: 1;
}