@import url(https://fonts.googleapis.com/css?family=Lusitana);

.projects {
	background-color: #fcfcf4;
	font-family: 'Lusitana', serif;
	font-size: 3vh;
	display: block;
	justify-content: center;
	align-items: center;
	margin-top: 30vh;
	margin-bottom: 10vh;
}
