@import url('https://fonts.googleapis.com/css?family=Quicksand');

.projects {
	background-color: #fcfcf4;
	font-family: 'Quicksand', sans-serif;
	font-size: 3vh;
	display: block;
	justify-content: center;
	align-items: center;
	margin-top: 30vh;
	margin-bottom: 10vh;
}

.project-card {
	height: 100%;
}

.card-description {
	font-size: 2.5vh;
	line-height: 1.5;
}

.card-header {
	font-family: 'Quicksand', sans-serif;
	font-size: 3vh;
}

a+a {
  margin-left: 20px;
}
